.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 50px rgba(32,35,41, 0.15);
    background-color: #FAFAFA;
    margin: 24px 24px;
    padding: 1px 2px;
    text-align: center;
    width:  calc(100% - 62px);
    min-height: 200px;
}

