
.createTodoButton {
    background-color: #61DAFA;
    color: #FAFAFA;
    position: fixed;
    cursor: pointer;
    right: 24px;
    bottom: 24px;
    border: none;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
}

.createTodoButton:hover {
    transform: rotate(224deg);
}

